

body {
  font-family: 'Bebas Neue', sans-serif;
  background-image: url('/home/labber/dinoGame/dino_game/public/images/background.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}


h1 {
  margin: 10px;
  font-size: 5em;
  color: black;
  padding: 50px;
  text-align: center;
}
